<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <% unless @restaurant.image_url.nil? %>
      <%= image_tag @restaurant.image_url %>
    <% end %>
    <h2>
      <%= @restaurant.name %>
    </h2>

    <p>
      <strong>Average Rating:</strong>
      <p class="star-rating" data-score= <%= @ave_ratings %></p>
      <p><small><%= @reviews.length %> reviews</small></p>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, @restaurant.website %>
    </p>

    <%= link_to "Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to leave a review!</h3>
    <% else %>
      <table class="table">

        <thead>
          <tr>
            <th style="width: 25%"></th>
            <th style="width: 75%"></th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <h5><%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize[0] + "." %></h5>
                <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
              </td>
              
              <td>
                <p class="star-rating" data-score= <%= review.rating %></p>
                <p><%= (review.comment).gsub(/\n/, '<br>').html_safe %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>  
    <% end %>  
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link"  %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link"  %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.us-east-2.amazonaws.com/sample-app47/stars',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>